* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: hsl(35, 74%, 95%);
}

h1 {
  font-weight: 900;
}

input {
  max-width: 300px;
}

#response-container {
  z-index: -5;
  border-radius: 20px;
  background-color: hsl(0, 0%, 0%);
  min-height: 500px;
}

.terminal-text {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: hsl(124, 98%, 59%);
}

#mr-robogers-offer {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  animation: active-typing 3s steps(26, end);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#mr-robogers-response {
  display: none;
}

.cursor-pipe {
  font-weight: 900;
  opacity: 0;
  animation: blinking-cursor 1.5s steps(2) infinite;
}

.closing-cursor {
  animation-delay: 7s;
}

@keyframes active-typing {
  0% {
    width: 0;
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    width: 490px;
    opacity: 1;
  }
}

@keyframes blinking-cursor {
  0% {
    opacity: 1;
  }
}
